Package: s3fs-dbgsym
Source: s3fs-fuse
Version: 1.97-1
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Hikmah Gumelar <hikmahgumelar@gmail.com>
Installed-Size: 4342
Depends: s3fs (= 1.97-1)
Section: debug
Priority: optional
Description: debug symbols for s3fs
Build-Ids: ae361f1e7557f8b894c49823513897f3e12960bb
Original-Maintainer: Mattia Rizzolo <mattia@debian.org>
