Package: s3fs
Source: s3fs-fuse
Version: 1.97-1
Architecture: amd64
Maintainer: Hikmah Gumelar <hikmahgumelar@gmail.com>
Installed-Size: 919
Depends: fuse3, media-types, libc6 (>= 2.38), libcurl3t64-gnutls (>= 7.16.2), libfuse3-4 (>= 3.17.2), libgcrypt20 (>= 1.12.0), libgnutls30t64 (>= 3.7.2), libstdc++6 (>= 12), libxml2-16 (>= 2.14.1)
Section: utils
Priority: optional
Homepage: https://github.com/s3fs-fuse/s3fs-fuse
Description: FUSE-based file system backed by Amazon S3
 s3fs is a FUSE filesystem that allows you to mount an Amazon S3 bucket
 as a local filesystem. It stores files natively and transparently in
 S3 (i.e., you can use other programs to access the same files).
 Maximum file size is 5 TB when using multipart upload.
 .
 s3fs is stable and is being used in a number of production environments,
 e.g., rsync backup to s3.
Original-Maintainer: Mattia Rizzolo <mattia@debian.org>
